$purple: #611f69;
$dark-purple: #4a154b;
$darker-purple: #3F0E40;
$blue: #1264a3;
$off-white: #f8f8f8;
$white :#fff;
$gray: #ddd;
$active-green: #2BAC76;
$muted: rgb(207,195,207);
$active-blue: #1164A3;
$dark-gray: rgb(134, 134, 134)