h1 {
  font-size: 30px;
  font-weight: 1000;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: $sans-serif;
}

// html, body, main, main > div {
//   height: 100%;
// }

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.button-main {
  display: inline-block;
  border: none;;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  background: $purple;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-main:hover,
.button-main:focus {
  background: $dark-purple;
}

.button-main:active {
  transform: scale(0.99);
}