.button-close {
  position: absolute;
  right: 48px;
  top: 48px;
  padding: 20px;
  border-radius: 50%;
  color: $dark-gray;
}

.button-close:hover {
  background-color: $gray;
  color: black;
}

.direct-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.direct-form-box h1 {
  display: inline-block;
}

.direct-form-box {
  width: 50%;
}

.direct-form-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  margin-bottom: 20px;
}

.user-detail:last-child {
  border-bottom: 1px solid $gray;
}

.user-detail {
  padding: 8px 20px;
  font-size: 15px;
  display: flex;
  cursor: pointer;
  border-top: 1px solid $gray;
  border-radius: 3px;
  align-items: center;
}

.user-detail:not(.selected):hover {
  background-color: $off-white;
}

.selected {
  background-color: $muted;
  color: $dark-gray;
}

.user-detail > img {
  padding-right: 6px;
  max-height: 42px;
  max-width: 42px;
  margin-top: -2px;
  margin-left: -4px;
}

.user-detail > h4 {
  font-weight: 900;
  vertical-align: center;
}

.message-text-container {
  line-height: 1.46668;
}