a {
  text-decoration: none;
  color: black;
}

span, button.header-button, a {
  font-size: 20px;
}

header-name {
  display: inline;
}

.header-link:hover {
  text-decoration: underline;
  color: $blue;
}

.button-greeting {
  margin-left: 20px;
}

.header-button {
  color: #fff;
}
