a {
  text-decoration: none;
  color: black;
}

span, button.header-button, a {
  font-size: 12px;
}

header-name {
  display: inline;
}

.header-link:hover {
  text-decoration: underline;
  color: $blue;
}

.header-button {
  color: #fff;
}

button {
  display: inline-block;
  border: none;;
  margin-left: 10px;
  padding: 6px;
  border-radius: 3px;
  text-decoration: none;
  background: $purple;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: $dark-purple;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}