.header-nav {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

button > a {
  color: white;
}

span, button.header-button, a {
  font-size: 20px;
}

.header-link:hover {
  text-decoration: underline;
  color: $blue;
}

.button-greeting {
  margin-left: 20px;
  margin-bottom: 0px;
}
