.message-container {
  padding: 8px 20px;
  font-size: 15px;
  display: flex;
}

.message-container:hover {
  background-color: $off-white;
}

i.fas.fa-user {
  font-size: 34px;
  color: white !important;
  width: 34px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border-radius: 3px;
}

.message-text-container > h4 {
  font-weight: 900;
}

.message-text-container {
  line-height: 1.46668;
}