header {
  border-bottom: 2px solid $gray;
  box-shadow: 0 10px 25px $gray;
  position: relative;
}

.header-container {
  max-width: 1000px;
  padding: 20px 40px;
  
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

header h1 {
  margin-top: 3px;
}