header {
  border-bottom: 1px solid silver;
  box-shadow: 0 1px 1px rgba(0,0,0,.15)
}

.header-container {
  max-width: 1000px;
  padding: 10px 30px;
  
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

header h1 {
  margin-top: 3px;
}