.login-form-container {
  background-color: $off-white;
  display: flex;
  justify-content: center;
}

.login-form-box {
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $gray;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 10px 25px $gray;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-box h1 {
  text-align: center;
}

.login-input {
  margin: 20px 0;
}

.login-input:first-child {
  margin-bottom: 0;
}
