.login-form-container {
  background-color: $off-white;
  display: flex;
  justify-content: center;
}

.login-form-box {
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $gray;
  padding: 60px;
  margin-top: 60px;
  margin-bottom: 400px;
  box-shadow: 0 10px 25px $gray;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-box > h1 {
  text-align: center;
}

.login-input {
  margin: 40px 0;
  font-size: 20px;
  // line-height: normal;
  padding: .75rem;
  border: 1px solid $gray;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  color: #1d1c1d;
}

button.button-main {
  font-size: 20px;
}

.login-input:first-child {
  margin-bottom: 0;
}
