.splash-img {
  width: 3107px;
  height: 2072px;
}

.splash-container {
  position: absolute;
}

.splash-title {
  color: white;
  font-size: 30px;
  font-weight: 1000;
}

.splash-title-top {
  position: absolute;
  right: 60%;
  top: 500px;
}

.splash-title-bottom {
  position: absolute;
  right: 60%;
  top: 575px;
}