.splash-img {
  width: 100%;
  height: 100%;
}

.splash-container {
  position: relative;
}

.splash-title {
  color: white;
  font-size: 30px;
  font-weight: 1000;
}

.splash-title-top {
  position: absolute;
  right: 10%;
  top: 10%;
}

.splash-title-bottom {
  position: absolute;
  right: 10%;
  top: 20%;
}

.logo {
  height: 35px;
  width: 35px;
}

.masthead {
  display: flex;
}

.logo {
  margin-right: 10px;
}

.splash-main-container {
  display:flex;
  flex-direction: column;
}

.footer {
  background-color: #f5f5f5;
  color: #454545;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  font-weight: 700;
  border-top: 2px solid $gray;
}

.footer > a {
  color: #454545;
}

.footer > a:hover {
  color: #1264a3;
}

.footer-item {
  font-size: 14px;
}

.footer-logo {
  height: 20px;
  margin-right: 5px;
}

.copy {
  display: flex;
  align-items: center;
}